{% extends "template.html" %}
{% block content %}
<section class="py-5" id="about">
    <div class="container pr-0">
        <div class="row">
            <div class="col-md-6 mx-auto text-center pt-6">
                <h2>Penjelasan Aplikasi</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-11 mx-auto">
                <div class="col text-justify">
                    <div class="col-md-12">
                        <h4>Abstrak</h4>
                        <p class="text-black"> Berdasarkan WHO 2019 bahwa merokok masih menjadi sebab utama
                            kematian dan penyakit. Secara keseluruhan merokok telah merenggut 8 juta nyawa orang
                            per-tahun diantaranya banyak orang menyadari kebiasaan tersebut dapat menyebabkan
                            penyakit yang bisa mengancam kesehatan. Di Indonesia sendiri juga sudah ditetapkan
                            oleh pemerintah yang dimana sudah di atur tentang pengamanan rokok dan
                            kawasan-kawasan tanpa asap rokok untuk melindungi kesehatan masyarakat terhadap
                            insidensi penyakit yang fatal dan penyakit yang dapat menurunkan kualitas hidup
                            akibat penggunaan rokok sesuai peraturan undang-undang Republik Indonesia tahun 2003
                            dan 2009.</p>
                        <p class="text-black"> Penelitian ini bertujuan untuk melakukan prediksi kepada
                            aktivitas seseorang apakah sedang merokok atau tidak merokok, dengan memanfaatkan
                            model <span class="font-italic">deep learning convolutional neural network.</span>
                            Dengan menggunakan dataset berupa foto orang yang sedang melakukan aktivitas merokok
                            dan tidak merokok yang diolah melalui tahap <span class="font-italic">preprocessing,
                                augmentasi data,</span> dan pemodelan. Yang kemudian dari hasil model yang dapat
                            diprediksi apakah seseorang sedang merokok atau tidak merokok.</p>
                    </div>
                    <div class="col-md-12 pt-3">
                        <p class="text-black font-italic">Based on the WHO 2019 that smoking is still the main cause of
                            death and disease. Overall smoking has claimed the lives of 8 million people per year of
                            which many people are aware that this habit can cause diseases that can threaten health. In
                            Indonesia it self, it has also been determined by the government which has regulated the
                            security of cigarettes and smoke-free areas to protect public health against the incidence
                            of fatal diseases and diseases that can reduce the quality of life due to the use of
                            cigarettes in accordance with the laws of the Republic of Indonesia in 2003 and 2009.</p>
                        <p class="text-black font-italic"> This study aims to predict whether a person is smoking or not
                            smoking, by using a deep learning convolutional neural network model. By using a dataset in
                            the form of photos of people who are smoking and not smoking which are processed through the
                            preprocessing, data augmentation and modeling stages. Which then from the results of the
                            model that can be predicted whether someone is smoking or not smoking.</p>
                    </div>
                    <div class=" row ">
                        <div class="col-md-3 pt-5 ">
                            <div class="image-profil">
                                <img class="img-fluid"
                                    src="../static/images/WhatsApp Image 2022-05-12 at 21.13.50.jpeg" />    
                            </div>
                        </div>
                        <div class="col-md-5 pt-5">
                            <h3 class="fw-bonlder" style="font-weight: 550">Penulis & Perancang Aplikasi</h3>
                            <h5 class="text-black" style="font-weight: 500">Hadiza Cahya Firdaus</h5>
                            <p class="text-black" style="font-weight: 400">NPM : 140810180042</p>
                        </div>
                        <div class="col-md-4 mb-5 pt-5">
                            <h3 class="fw-bolder" style="font-weight: 550">Pembimbing Penelitian</h3>
                            <h5 class="text-black" style="font-weight: 420">Dr. Afrida Helen, M.Kom</h5>
                            <p class="text-black" style="font-weight: 400">NIP : 19650128 199703 2 001</p>
                            </br>
                            <h3 class="fw-bolder" style="font-weight: 550">Co-Pembimbing Penelitian</h3>
                            <h5 class="text-black" style="font-weight: 420">Akmal, S.Si., MT</h5>
                            <p class="text-black" style="font-weight: 400">NIP : 19700615 199803 1 993 </p>
                        </div>
                        <div class="col-md-12 mb-5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}