{% extends "template.html" %}
{% block content %}
<section class="py-7 py-md-0 bg-hero" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12  mx-auto my-auto text-center">
                <h1 class="heading-black text-capitalize" style="color: #000;">CIGITION</h1>
                <p class="lead py-3">Cigarette Identification merupakan website yang digunakan untuk mendeteksi
                    aktivitas
                    seseorang yang sedang merokok atau tidak dengan Artificial Intelligence yaitu model Convolutional
                    Neural Network.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}